doctype html
html
    head
        //---main-styles------------------------ 
        link(href='/styles/normalize.css', rel='stylesheet')
        link(href='/styles/skeleton.css', rel='stylesheet') 
        link(href='/styles/pure.css', rel='stylesheet')
        link(href='/styles/common.css', rel='stylesheet')
        link(href='/styles/item.css', rel='stylesheet')
        //---main-styles--end--------------------

        //---main-scripts------------------------    
        script(type='text/javascript', src='/scripts/angular.js')
        script(type='text/javascript', src='/scripts/angular-ui-router.min.js')
        script(type='text/javascript', src='/scripts/lodash.js')

        //---main-scripts--end-------------------
       
        //---styles------------------------
        link(href='/styles/header.css', rel='stylesheet')
        link(href='/styles/register.css', rel='stylesheet') 
        link(href='/styles/login.css', rel='stylesheet')
        link(href='/styles/dashboard.css', rel='stylesheet')
        //---styles--end-------------------

        //---scripts-----------------------
        script(type='text/javascript', src='/scripts/socket.io.js')
        script(type='text/javascript', src='/angular/app.js')
        script(type='text/javascript', src='/angular/router.config.js')
            //--Controllers----------------
        script(type='text/javascript', src='/angular/common/main.controller.js')
        script(type='text/javascript', src='/angular/dashboard/dashboard.controller.js')
        script(type='text/javascript', src='/angular/sensor/sensor.controller.js')
        script(type='text/javascript', src='/angular/item/item.controller.js')
            //Services---------------------
        script(type='text/javascript', src='/angular/constants/constants.service.js')
        script(type='text/javascript', src='/angular/constants/constant.js')
        script(type='text/javascript', src='/angular/item/item.service.js')
        script(type='text/javascript', src='/angular/sensor/sensor.service.js')    
        script(type='text/javascript', src='/angular/company/company.service.js')
        script(type='text/javascript', src='/angular/util/request-utils.service.js')
        script(type='text/javascript', src='/angular/socket/socket.service.js')
            //Directives-------------------
        script(type='text/javascript', src='/angular/dashboard/dashboard.directive.js')
        script(type='text/javascript', src='/angular/item/item.directive.js')
        //---scripts--end------------------
        block title
            title Default title
    body(ng-app="myApp")
        div(class="header", ng-controller="MainCtrl")
            div(class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed")
                a(ng-href="{{constants.DEFAULT_URL}}", class="pure-menu-heading") {{constants.APP_NAME}}
                ul(class="pure-menu-list")
                    li(class="pure-menu-item pure-menu-selected", ng-repeat="link in constants.MENU_LINKS")
                        a(ng-href="{{link.url}}", class="pure-menu-link") {{link.name}}
        block content