div(class="row")
    div(class="eight columns center")
        h4(class="no-margin-bottom") Edit sensor
        div(class="eight columns center")
            div(class="eight columns margin10Top")
                form(class="edit-sensor")
                    div(class="row")
                        label Type
                        select(name="repeatSelect", id="repeatSelect", ng-model="sensorCtrl.currentSensor.type", class="margin5Bottom")
                            option(ng-repeat="type in sensorCtrl.sensorTypes", ng-selected="sensorCtrl.currentSensor.type == type" value="{{type}}") {{type}}
                    div(class="row")
                        input(type="text", name="description", ng-model="sensorCtrl.currentSensor.description", class="margin5Bottom", placeholder="Description")
                    div(class="row")
                        input(type="button", name="Update" value="Update" class="pure-button button-primary margin5Bottom" ng-click="sensorCtrl.updateSensor(sensorCtrl.currentSensor)")
            div(class="four columns margin10Top left-border")
                div(ng-repeat="sensor in sensorCtrl.sensors")
                    span(class="pointer border-bottom" ng-click="sensorCtrl.currentSensor = sensor") {{sensor._id}} - {{sensor.type}} - {{sensor.description}}