div(class="row")
    div(class="eight columns center")
        h4(class="no-margin-bottom") Edit Item
        div(class="eight columns center")
            div(class="eight columns margin10Top")
                form(class="edit-item")
                    div(class="row")
                        input(type="text", name="name", ng-model="itemCtrl.currentItem.name", class="margin5Bottom", placeholder="Name")
                    div(class="row")
                        label Type
                        select(name="repeatSelect", id="repeatSelect", ng-model="itemCtrl.currentItem.type", class="margin5Bottom")
                            option(ng-repeat="type in itemCtrl.itemTypes", ng-selected="itemCtrl.currentItem.type == type" value="{{type}}") {{type}}
                        label Select Sensors
                        select(name="repeatSensors", multiple, id="repeatSensors", ng-model="itemCtrl.currentItem.sensors", class="margin5Bottom height-150")
                            option(ng-repeat="sensor in itemCtrl.sensors", value="{{sensor._id}}") {{sensor.description}}
                    div(class="row")
                        input(type="text", name="description", ng-model="itemCtrl.currentItem.description", placeholder="Description")
                    div(class="row")
                        input(type="button", name="Update" value="Update" class="pure-button button-primary margin10Top" ng-click="itemCtrl.updateItem(itemCtrl.currentItem)")
            div(class="four columns margin10Top left-border")
                div(ng-repeat="item in itemCtrl.items")
                    span(class="pointer border-bottom" ng-click="itemCtrl.currentItem = item") {{item.name}}