.lavenderbg{
    background-color:lavender;
}
.lavenderblushbg{
    background-color:lavenderblush;
}

.azurebg{
background-color: azure;
}

.greenbg{
    background-color: #008542;
}

.redbg{
    background-color: #B22222;
}

.white-text{
    color: white;
}

.passwordLabel {
    margin-left:2.60em!important;
}

.margin5Top {
    margin-top: 5px;
}
.margin10Top {
    margin-top: 10px;
}
.margin15Top {
    margin-top: 15px;
}
.margin20Top{
    margin-top: 20px;
}

.margin5Right {
    margin-right: 5px;
}
.margin10Right {
    margin-right: 10px;
}
.margin15Right {
    margin-right: 15px;
}
.margin20Right {
    margin-right: 20px;
}

.margin5Bottom {
    margin-bottom: 5px;
}
.margin10Bottom {
    margin-bottom: 10px;
}
.margin15Bottom {
    margin-bottom: 15px;
}
.margin20Bottom {
    margin-bottom: 20px;
}

.margin5Left {
    margin-left: 5px;
}
.margin10Left {
    margin-left: 10px;
}
.margin15Left {
    margin-left: 15px;
}
.margin20Left {
    margin-left: 20px;
}

.text-center {
    text-align: center;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}


.padding5 {
    padding: 5px;
}

.center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.left-border{
    border-left: 1px solid #D1D1D1;
}

.border-bottom { 
    border-bottom: 1px solid #D1D1D1;
}

.inline-block{
    display: inline-block;
}

.height-300{
    height: 300px
}

.height-150{
    height: 150px
}












