/*Item styles*/
.item {
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.item-shadow {
    -webkit-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.1);
}

.item:hover {
    -webkit-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.21);
}

.item-border {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}