<div>
    <div class="row">
        <div class="twelve columns center">
            <h4 class="no-margin-bottom">Dashboard</h4>
        </div>
    </div>
    <table class="u-full-width margin20Top">
        <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Status</th>
              <th class="text-center">Location</th>
              <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items"> 
                <td class="text-center">{{item.name}}</td>
                <td ng-class="{greenbg: (item.status == 'Free'), redbg: (item.status == 'Busy')}" class="white-text text-center">{{item.status}}</td>
                <td class="text-center">XXX</td>
                <td class="text-center">XXX</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <hr />
    </div>
    <item items='items'>
</div>