<div class="row">
    <div class="three columns offset-by-one item item-border item-shadow" ng-repeat="item in items">
        <div class="row">
            <div class="twelve columns">
                {{item.name}}
            </div>
        </div>
        <div class="row">
            <div class="five columns offset-by-seven" ng-class="{greenbg: (item.status == 'Free'), redbg: (item.status == 'Busy')}" class="white-text text-center">
                {{item.status}}
            </div>
        </div>
    </div>
</div>